.button{
    width: 100%;
    &_wrapper{
        padding: 16px 16px;
    }
}

.pig{
    width: 128px;
    height: 128px;
    &_wrapper{
        padding: 140px 0;
    }
}
.icon{
    width: 30px;
    height: 30px;
    margin-right: 16px;
}
.navbar{
    display: flex;
    align-items: center;
}