:root{
    --welcome-card-bg:white;
    --welcome-text:hsla(55, 56%, 35%, 0.992);
    --z-index-bottom-nav:10;
    --welcome-bg-end:rgba(255,248,134,1);
    --welcome-bg-start:rgba(255,248,134,0.7);
    --welcome-nav-height:64px;
    --welcome-nav-gap:8px;
    --transition-duration:0.4s;
    --button-bg-color:rgb(247, 189, 123);
    --button-text-color:white;
    --button-font-size:18px;
    --button-radius:8px;
    --button-height:48px;
    --float-button-bg:var(--button-bg-color);
    --float-button-text:white;
    --navbar-bg-start:var(--welcome-bg-start);
    --navbar-bg-end:var(--welcome-bg-end);
    --navbar-text:#8D8528FD;
    --z-index-overlay:16;
    --overlay-mask-bg:rgba(0,0,0,0.5);
    --overlay-bg:white;
    --top-safe-area-height:24px;
    --overlay-user-bg: #5C33BE;
    --overlay-user-text: white;
    --tabs-indicator-bg:rgba(142, 134, 41, 0.5)

}